# Syntax:
#
# There are two types of value: objects, and strings.
#
# Objects are declared as:
#
#     type: {
#       (field values)
#     }
#
# String settings are written as:
#
#     name = 'value'  
#
# The quotes can be elided if the value is valid as an identifier name.

#preferred_resolution = '1024x768'
#clear_screen = false

entry: {
    description = 'Linux - with root on /dev/nvme0n1p2'
    type = chain
    exec = '\vmlinuz-5.15.37'
    cmdline = 'linux root=/dev/nvme0n1p2'
    # Note that initrd can be specified on linux command line
    # ('initrd=(efi-device-path)')
}

entry: {
    description = 'EFI Shell'
    type = chain
    exec = '\EFI\Shell.efi'
    cmdline = 'Shell.efi'
}

entry: {
    description = 'My kernel v0.1'
    type = tosaithe
    exec = '\kernel.elf'
    cmdline = 'start me up!'
    initrd = '\ramdisk.img'
}
